<img
    src="/assets/svgs/cheateau_orlice-decoration.svg"
    alt="Chateau Orlice symbol"
    width="16"
    height="16"
    loading="lazy"
    decoding="async"
    aria-hidden="true"
    draggable="false">