<!-- CTA -->
<section class="py-24 ~px-4/8 bg-white">
	<div class="container m-auto p-8 bg-gold">
		<!-- INNER CONTAINER -->
		<div class="flex flex-col justify-center items-center gap-8 p-16 border-2 border-cream">
			<!-- TOPPER + HEADING + TEXT -->
			<div class="flex flex-col items-center gap-4">
				<!-- TOPPER -->
				<span class="topper-container before:bg-cream after:bg-cream">
					{% include "components/topper-decoration-cream.njk" %}
					<span class="topper">{{ cta[page.lang].topper }}</span>
					{% include "components/topper-decoration-cream.njk" %}
				</span>

				<h2 class="~max-w-xl/3xl text-center ~text-3xl/5xl font-black uppercase">{{ cta[page.lang].heading }}</h2>

				<p class="max-w-xl font-jakarta-sans text-center ~text-sm/base text-ochre">{{ cta[page.lang].text | safe }}</p>
			</div>

			<a href="{{ '/rezervace' | locale_url }}" class="btn btn-lg bg-cream">{{ cta[page.lang].cta }}</a>
		</div>
	</div>
</section>