<!-- LANDING -->
<section 
  class="relative py-24 ~px-4/8 flex justify-center min-h-screen z-10
  before:absolute before:top-0 before:left-0 before:h-full before:w-full before:bg-black/50 before:-z-10"
>
  <div class="container m-auto flex flex-col justify-center items-center gap-6">
    <!-- BREADCRUMBS CONTAINER -->
    <div class="flex items-center ~gap-2/4 before:h-px before:~w-6/16 before:bg-gold after:h-px after:~w-6/16 after:bg-gold">
      {% include "components/topper-decoration.njk" %}
      <!-- BREADCRUMBS -->
      <div class="flex items-center gap-2">
        <a href="{{ '/' | locale_url }}" class="topper ~text-sm/base text-cream hover:text-white">{{ landing.breadcrumbsHome }}</a>
        <span class="font-trirong ~text-sm/base text-gold">/</span>
        <span class="topper ~text-sm/base text-cream">{{ landing.breadcrumbsCurrent }}</span>
      </div>
      {% include "components/topper-decoration.njk" %}
    </div>

    <h1 class="~max-w-2xl/4xl text-center ~text-3xl/7xl text-white font-black uppercase">{{ landing.heading | safe }}</h1>
  </div>

  <!-- MOUSE ICON -->
  <img
    class="max-lg:hidden absolute bottom-12 left-1/2 -translate-x-1/2 animate-bounce"
    src="/assets/svgs/landing/mouse.svg"
    alt="{{ landing.mouseIconAlt }}"
    width="32"
    height="32"
    loading="eager"
    decoding="async"
    aria-hidden="true"
    draggable="false">

  <!-- TABLET ICON -->
  <img
    class="max-sm:hidden lg:hidden absolute bottom-12 left-1/2 -translate-x-1/2 animate-bounce"
    src="/assets/svgs/landing/tablet.svg"
    alt="{{ landing.mouseIconAlt }}"
    width="32"
    height="32"
    loading="eager"
    decoding="async"
    aria-hidden="true"
    draggable="false">

  <!-- PHONE ICON -->
  <img
    class="sm:hidden absolute bottom-12 left-1/2 -translate-x-1/2 animate-bounce"
    src="/assets/svgs/landing/phone.svg"
    alt="{{ landing.mouseIconAlt }}"
    width="32"
    height="32"
    loading="eager"
    decoding="async"
    aria-hidden="true"
    draggable="false">

  <!-- BACKGROUND IMAGE -->
  {% if not image %}
    {% set image = {
      data: {
        url: landing.imageUrl,
        alt: landing.imageAlt
      }
    } %}
  {% endif %}

  <picture>
    <!-- MOBILE IMAGE -->
    <source media="(max-width: 600px)" srcset="{% getUrl image.data.url | resize({ width: 800, height: 1920, position: 'attention' }) | avif %}" type="image/avif">
    <source media="(max-width: 600px)" srcset="{% getUrl image.data.url | resize({ width: 800, height: 1920, position: 'attention' }) | webp %}" type="image/webp">
    <source media="(max-width: 600px)" srcset="{% getUrl image.data.url | resize({ width: 800, height: 1920, position: 'attention' }) | jpeg %}" type="image/jpeg">
    <!-- TABLET IMAGE -->
    <source media="(max-width: 1024px)" srcset="{% getUrl image.data.url | resize({ width: 1600, height: 2560, position: 'attention' }) | avif %}" type="image/avif">
    <source media="(max-width: 1024px)" srcset="{% getUrl image.data.url | resize({ width: 1600, height: 2560, position: 'attention' }) | webp %}" type="image/webp">
    <source media="(max-width: 1024px)" srcset="{% getUrl image.data.url | resize({ width: 1600, height: 2560, position: 'attention' }) | jpeg %}" type="image/jpeg">
    <!-- DESKTOP IMAGE -->
    <source media="(min-width: 1024px)" srcset="{% getUrl image.data.url | resize({ width: 3840, height: 2160, position: 'attention' }) | avif %}" type="image/avif">
    <source media="(min-width: 1024px)" srcset="{% getUrl image.data.url | resize({ width: 3840, height: 2160, position: 'attention' }) | webp %}" type="image/webp">
    <source media="(min-width: 1024px)" srcset="{% getUrl image.data.url | resize({ width: 3840, height: 2160, position: 'attention' }) | jpeg %}" type="image/jpeg">
    <img
      class="object-cover absolute top-0 left-0 h-full w-full -z-20"
      src="{% getUrl image.data.url | resize({ width: 3840, height: 2160, position: 'attention' }) | jpeg %}"
      alt="{{ image.data.alt }}"
      width="1920"
      height="1080"
      loading="eager"
      decoding="async"
      aria-hidden="true"
      draggable="false">
  </picture>
</section>