<!-- CONTENT -->
{% for content in pageContent %}
    <section id="{{ content.sectionId }}" class="group py-24 ~px-4/8">
        <div class="container m-auto flex max-lg:flex-col group-odd:lg:flex-row group-even:lg:flex-row-reverse lg:items-center ~gap-8/16">
            <!-- ROOM IMAGE -->
            <picture>
                <!-- MOBILE IMAGE -->
                <source media="(max-width: 600px)" srcset="{% getUrl content.imageUrl | resize({ width: 736, height: 640, position: 'attention' }) | avif %}" type="image/avif">
                <source media="(max-width: 600px)" srcset="{% getUrl content.imageUrl | resize({ width: 736, height: 640, position: 'attention' }) | webp %}" type="image/webp">
                <source media="(max-width: 600px)" srcset="{% getUrl content.imageUrl | resize({ width: 736, height: 640, position: 'attention' }) | jpeg %}" type="image/jpeg">
                <!-- TABLET IMAGE -->
                <source media="(max-width: 1024px)" srcset="{% getUrl content.imageUrl | resize({ width: 1350, height: 896, position: 'attention' }) | avif %}" type="image/avif">
                <source media="(max-width: 1024px)" srcset="{% getUrl content.imageUrl | resize({ width: 1350, height: 896, position: 'attention' }) | webp %}" type="image/webp">
                <source media="(max-width: 1024px)" srcset="{% getUrl content.imageUrl | resize({ width: 1350, height: 896, position: 'attention' }) | jpeg %}" type="image/jpeg">
                <!-- DESKTOP IMAGE -->
                <source media="(min-width: 1024px)" srcset="{% getUrl content.imageUrl | resize({ width: 1600, height: 896, position: 'attention' }) | avif %}" type="image/avif">
                <source media="(min-width: 1024px)" srcset="{% getUrl content.imageUrl | resize({ width: 1600, height: 896, position: 'attention' }) | webp %}" type="image/webp">
                <source media="(min-width: 1024px)" srcset="{% getUrl content.imageUrl | resize({ width: 1600, height: 896, position: 'attention' }) | jpeg %}" type="image/jpeg">
                <img
                    class="object-cover h-[20rem] md:h-[28rem] w-full"
                    src="{% getUrl content.imageUrl | resize({ width: 1600, height: 896 }) | jpeg %}"
                    alt="{{ content.imageAlt }}"
                    width="448"
                    height="800"
                    loading="lazy"
                    decoding="async"
                    aria-hidden="true"
                    draggable="false">
            </picture>

            <!-- TEXT + CTA -->
            <div class="self-center flex flex-col items-center gap-8">
                <!-- HEADING + TEXT -->
                <div class="flex flex-col gap-5">
                    <!-- TOPPER + HEADING -->
                    <div class="flex flex-col items-center gap-4">
                        <!-- TOPPER -->
                        <span class="topper-container">
                            {% include "components/topper-decoration.njk" %}
                            <span class="topper">{{ content.topper }}</span>
                            {% include "components/topper-decoration.njk" %}
                        </span>

                        <h2 class="~max-w-md/xl text-center ~text-2xl/3xl font-black uppercase">{{ content.heading | safe }}</h2>
                    </div>

                    <!-- TEXT -->
                    {% for paragraph in content.paragraphs %}
                        <p class="max-w-xl font-jakarta-sans text-center ~text-sm/base text-ochre">{{ paragraph.text }}</p>
                    {% endfor %}
                </div>

                {% if content.pricing %}
                    <div class="flex flex-col gap-4 w-full max-w-lg">
                        {% for item in content.pricing %}
                            <div class="flex flex-col items-center gap-3">
                                {% if item.title %}
                                    <!-- TOPPER -->
                                    <span class="topper-container">
                                        {% include "components/topper-decoration.njk" %}
                                        <span class="topper">{{ item.title }}</span>
                                        {% include "components/topper-decoration.njk" %}
                                    </span>
                                {% endif %}

                                <!-- PRICING -->
                                <table class="table-auto text-left w-full">
                                    <thead>
                                        {% for row in item.rows %}
                                            {% if loop.index == 1 %}
                                                <tr>
                                                    {% for cell in row.cells %}
                                                        <th class="py-2 px-2.5 font-jakarta-sans text-sm text-ochre font-bold border border-ochre/20">{{ cell.text }}</th>
                                                    {% endfor %}
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </thead>
                                    <tbody>
                                        {% for row in item.rows %}
                                            {% if loop.index > 1 %}
                                                <tr>
                                                    {% for cell in row.cells %}
                                                        <td class="py-2 px-2.5 font-jakarta-sans text-sm text-ochre border border-ochre/20">{{ cell.text }}</td>
                                                    {% endfor %}
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if content.cta %}
                    <!-- CTA -->
                    <a href="#book" class="btn" onclick="Booking.Open(); return false;">{{ content.cta }}</a>
                {% endif %}
            </div>
        </div>
    </section>
{% endfor %}