{% extends "layouts/base.njk" %}

{% block body %}
    {% include "sections/landing.njk" %}

    <!-- RESERVATION -->
    <section class="py-24 ~px-4/8 bg-white">
        <div class="container m-auto"></div>
    </section>
{% endblock %}