{% extends "layouts/base.njk" %}

{% block head %}
    <script defer src="/assets/js/fslightbox.js"></script>
{% endblock %}

{% block body %}
    {% set image = collections.image | findWhere({key: "gallery.landing"}) %}
    {% include "sections/landing.njk" %}

    <div class="py-8">
        {# Loop over the photo albums #}
        {% for album in collections.galleryAlbum | pageLang(page.lang) %}
            <!-- {{ album.data.title.toUpperCase() }} -->
            <section class="py-16 ~px-4/8">
                <div class="container m-auto flex flex-col ~gap-4/8">
                    <!-- TOPPER + HEADING -->
                    <div class="flex flex-col gap-4">
                        <!-- TOPPER -->
                        <span class="topper-container">
                            {% include "components/topper-decoration.njk" %}
                            <span class="topper">{{ gallery.topper }}</span>
                            {% include "components/topper-decoration.njk" %}
                        </span>

                        <h2 class="~text-3xl/5xl font-black uppercase">{{ album.data.title }}</h2>
                    </div>

                    <!-- PHOTOS -->
                    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 ~gap-4/8">
                        {# Loop over the photos #}
                        {% for photoList in collections.galleryPhoto %}
                            {# Check if the current photos belong to the album #}
                            {% if photoList.data.album === album.data.title %}
                                {# The photos belong to this album - loop over them and display them #}
                                {% for photo in photoList.data.images %}
                                    <a data-fslightbox="{{ album.data.title }}" href="{% getUrl photo.url | resize({ height: 1944 }) | jpeg({ quality: 70 }) %}">
                                        <picture>
                                            <source srcset="{% getUrl photo.url | resize({ width: 916, height: 688 }) | avif %}" type="image/avif">
                                            <source srcset="{% getUrl photo.url | resize({ width: 916, height: 688 }) | webp %}" type="image/webp">
                                            <source srcset="{% getUrl photo.url | resize({ width: 916, height: 688 }) | jpeg %}" type="image/jpeg">
                                            <img
                                                src="{% getUrl photo.url | resize({ width: 916, height: 688 }) | jpeg %}"
                                                alt="{{ album.data.title }} {{ loop.index }}"
                                                width="458"
                                                height="344" 
                                                loading="lazy"
                                                decoding="async"
                                                aria-hidden="true"
                                                draggable="false">
                                        </picture>
                                    </a>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </section>
        {% endfor %}
    </div>
{% endblock %}