{% extends "layouts/base.njk" %}

{% block body %}
    {% set image = collections.image | findWhere({key: "gastronomy.landing"}) %}
    {% include "sections/landing.njk" %}

    {% set keys = ["gastronomy.services.dinnerPond", "gastronomy.services.dinner", "gastronomy.services.picnic"] %}
    {% include "sections/page-services.njk" %}

    {% set keys = ["gastronomy.services.dinnerPond", "gastronomy.services.dinner", "gastronomy.services.picnic"] %}
    {% include "sections/page-content.njk" %}

    {% include "sections/cta.njk" %}
{% endblock body %}