{% extends "layouts/base.njk" %}

{% block body %}
    {% include "sections/landing.njk" %}

    <!-- CONFERENCES -->
    <section class="py-24 ~px-4/8">
        <div class="container m-auto flex max-lg:flex-col lg:flex-row-reverse lg:items-center ~gap-8/16">
            <!-- ROOM IMAGE -->
            <picture>
                <!-- MOBILE IMAGE -->
                <source media="(max-width: 600px)" srcset="{% getUrl conferences.imageUrl | resize({ width: 736, height: 640, position: 'attention' }) | avif %}" type="image/avif">
                <source media="(max-width: 600px)" srcset="{% getUrl conferences.imageUrl | resize({ width: 736, height: 640, position: 'attention' }) | webp %}" type="image/webp">
                <source media="(max-width: 600px)" srcset="{% getUrl conferences.imageUrl | resize({ width: 736, height: 640, position: 'attention' }) | jpeg %}" type="image/jpeg">
                <!-- TABLET IMAGE -->
                <source media="(max-width: 1024px)" srcset="{% getUrl conferences.imageUrl | resize({ width: 1350, height: 896, position: 'attention' }) | avif %}" type="image/avif">
                <source media="(max-width: 1024px)" srcset="{% getUrl conferences.imageUrl | resize({ width: 1350, height: 896, position: 'attention' }) | webp %}" type="image/webp">
                <source media="(max-width: 1024px)" srcset="{% getUrl conferences.imageUrl | resize({ width: 1350, height: 896, position: 'attention' }) | jpeg %}" type="image/jpeg">
                <!-- DESKTOP IMAGE -->
                <source media="(min-width: 1024px)" srcset="{% getUrl conferences.imageUrl | resize({ width: 1600, height: 896, position: 'attention' }) | avif %}" type="image/avif">
                <source media="(min-width: 1024px)" srcset="{% getUrl conferences.imageUrl | resize({ width: 1600, height: 896, position: 'attention' }) | webp %}" type="image/webp">
                <source media="(min-width: 1024px)" srcset="{% getUrl conferences.imageUrl | resize({ width: 1600, height: 896, position: 'attention' }) | jpeg %}" type="image/jpeg">
                <img
                    class="object-cover h-[20rem] md:h-[28rem] w-full"
                    src="{% getUrl conferences.imageUrl | resize({ width: 1600, height: 896 }) | jpeg %}"
                    alt="{{ conferences.imageAlt }}"
                    width="448"
                    height="800"
                    loading="lazy"
                    decoding="async"
                    aria-hidden="true"
                    draggable="false">
            </picture>

            <!-- TEXT + SPECIFICATION -->
            <div class="flex flex-col items-center gap-12">
                <!-- HEADING + TEXT -->
                <div class="flex flex-col gap-5">
                    <!-- TOPPER + HEADING -->
                    <div class="flex flex-col items-center gap-4">
                        <!-- TOPPER -->
                        <span class="topper-container">
                            {% include "components/topper-decoration.njk" %}
                            <span class="topper">{{ conferences.topper }}</span>
                            {% include "components/topper-decoration.njk" %}
                        </span>

                        <h2 class="~max-w-md/lg text-center ~text-2xl/3xl font-black uppercase">{{ conferences.heading | safe }}</h2>
                    </div>

                    <!-- TEXT -->
                    {% for paragraph in conferences.paragraphs %}
                        <p class="max-w-xl font-jakarta-sans text-center ~text-sm/base text-ochre">{{ paragraph.text }}</p>
                    {% endfor %}
                </div>

                <!-- SPECIFICATION -->
                <ul class="flex flex-wrap justify-center gap-6 max-w-md">
                    {% for item in conferences.specification %}
                        <li class="flex items-center gap-2">
                            <img
                                src="{{ item.iconUrl }}"
                                alt="{{ item.iconAlt }}"
                                width="20"
                                height="20"
                                loading="lazy"
                                decoding="async"
                                aria-hidden="true"
                                draggable="false">

                            <span class="font-jakarta-sans text-sm text-ochre">{{ item.text }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>

    <!-- SERVICE INFO -->
    <section class="py-24 ~px-4/8 relative bg-cream z-10">
        <div class="container m-auto flex flex-col gap-16">
            <!-- HEADING + TEXT -->
            <div class="flex max-lg:flex-col justify-between items-start gap-4 lg:gap-8">
                <h2 class="shrink-0 ~max-w-sm/xl ~text-3xl/5xl font-black uppercase">{{ serviceInfo.heading | safe }}</h2>

                <!-- TEXT -->
                <p class="max-w-2xl font-jakarta-sans ~text-sm/base text-ochre">{{ serviceInfo.text }}</p>
            </div>

            <!-- INFO -->
            <ul class="grid grid-cols-1 lg:grid-cols-3 ~gap-4/8 w-full">
                {% for item in serviceInfo.items %}
                    <li class="relative sm:h-[24rem] max-sm:aspect-square w-full p-4 z-10 before:absolute before:top-0 before:left-0 before:h-full before:w-full before:bg-black/50 before:-z-10">
                        <!-- INNER CONTAINER -->
                        <div class="flex justify-center items-center h-full border-2 border-white">
                            <h3 class="text-center ~text-3xl/4xl text-white font-black">{{ item.title }}</h3>
                        </div>

                        <!-- BACKGROUND IMAGE -->
                        <picture>
                            <!-- MOBILE IMAGE -->
                            <source media="(max-width: 600px)" srcset="{% getUrl item.imageUrl | resize({ width: 768, height: 768 }) | avif %}" type="image/avif">
                            <source media="(max-width: 600px)" srcset="{% getUrl item.imageUrl | resize({ width: 768, height: 768 }) | webp %}" type="image/webp">
                            <source media="(max-width: 600px)" srcset="{% getUrl item.imageUrl | resize({ width: 768, height: 768 }) | jpeg %}" type="image/jpeg">
                            <!-- TABLET IMAGE -->
                            <source media="(max-width: 1024px)" srcset="{% getUrl item.imageUrl | resize({ width: 1524, height: 768 }) | avif %}" type="image/avif">
                            <source media="(max-width: 1024px)" srcset="{% getUrl item.imageUrl | resize({ width: 1524, height: 768 }) | webp %}" type="image/webp">
                            <source media="(max-width: 1024px)" srcset="{% getUrl item.imageUrl | resize({ width: 1524, height: 768 }) | jpeg %}" type="image/jpeg">
                            <!-- DESKTOP IMAGE -->
                            <source media="(min-width: 1024px)" srcset="{% getUrl item.imageUrl | resize({ width: 896, height: 768 }) | avif %}" type="image/avif">
                            <source media="(min-width: 1024px)" srcset="{% getUrl item.imageUrl | resize({ width: 896, height: 768 }) | webp %}" type="image/webp">
                            <source media="(min-width: 1024px)" srcset="{% getUrl item.imageUrl | resize({ width: 896, height: 768 }) | jpeg %}" type="image/jpeg">
                            <img
                                class="object-cover absolute top-0 left-0 h-full w-full -z-20"
                                src="{% getUrl item.imageUrl | resize({ width: 896, height: 768 }) | jpeg %}"
                                alt="{{ item.imageAlt }}"
                                width="448"
                                height="384"
                                loading="eager"
                                decoding="async"
                                aria-hidden="true"
                                draggable="false">
                        </picture>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <!-- BACKGROUND -->
        <img
        class="object-cover absolute top-0 left-0 h-full w-full -z-10"
        src="/assets/svgs/tilling-background_black-gold.svg"
        alt="{{ services.backgroundAlt }}"
        width="1920"
        height="1044"
        loading="lazy"
        decoding="async"
        aria-hidden="true"
        draggable="false">
    </section>

    <!-- CONTACT FORM -->
    <section class="py-24 ~px-4/8 bg-white">
        <div class="container m-auto flex flex-col items-center gap-8">
            <!-- TOPPER + HEADING -->
            <div class="flex flex-col items-center gap-4">
                <!-- TOPPER -->
                <span class="topper-container">
                    {% include "components/topper-decoration.njk" %}
                    <span class="topper">{{ contactForm.topper }}</span>
                    {% include "components/topper-decoration.njk" %}
                </span>

                <h2 class="text-center ~text-3xl/5xl font-black uppercase">{{ contactForm.heading }}</h2>
            </div>

            <form class="flex flex-col gap-4 w-full max-w-4xl" method="POST" name="Kontaktní formulář" netlify-honeypot="bot-field" netlify>
                <fieldset class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                    <!-- HONEYPOT -->
                    <input class="sr-only" type="search" name="bot-field" tabindex="-1" autocomplete="off" spellcheck="false" autocorrect="off" autocapitalize="off" placeholder="Leave this empty">

                    <!-- FIRST NAME -->
                    <input class="input" type="text" name="Jméno" autocomplete="given-name" placeholder="{{ contactForm.firstName }}" required>

                    <!-- LAST NAME -->
                    <input class="input" type="text" name="Příjmení" autocomplete="family-name" placeholder="{{ contactForm.lastName }}" required>

                    <!-- EMAIL -->
                    <input class="input" type="email" name="Email" autocomplete="email" placeholder="{{ contactForm.email }}" required>

                    <!-- PHONE -->
                    <input class="input" type="tel" name="Telefon" autocomplete="tel" placeholder="{{ contactForm.phone }}" required>
                </fieldset>

                <!-- MESSAGE -->
                <textarea class="input min-h-[6lh] max-h-[30lh]" name="Zpráva" placeholder="{{ contactForm.yourMessage }}" required></textarea>

                <!-- PRIVACY POLICY -->
                <p class="font-jakarta-sans text-center ~text-xs/sm text-ochre">
                    {{ contactForm.bySendingYouAgreeWith }}
                    <a href="{{ '/gdpr' | locale_url }}" class="underline hover:text-black">{{ contactForm.privacyPolicy }}</a>
                </p>

                <!-- SUBMIT -->
                <button type="submit" class="btn self-center">{{ contactForm.submit }}</button>
            </form>
        </div>
    </section>

    {% include "sections/cta.njk" %}
{% endblock body %}