{% extends "layouts/base.njk" %}

{% block body %}
    {% include "sections/landing.njk" %}

    <!-- SERVICE INFO -->
    <section class="py-24 ~px-4/8 relative bg-cream z-10">
        <div class="container m-auto flex flex-col gap-16">
            <!-- HEADING + TEXT -->
            <div class="flex flex-col items-center gap-4">
                <!-- TOPPER + HEADING -->
                <div class="flex flex-col items-center gap-4">
                    <!-- TOPPER -->
                    <span class="topper-container">
                        {% include "components/topper-decoration.njk" %}
                        <span class="topper">{{ serviceInfo.topper }}</span>
                        {% include "components/topper-decoration.njk" %}
                    </span>

                    <h2 class="~max-w-md/2xl text-center ~text-3xl/5xl font-black uppercase">{{ serviceInfo.heading | safe}}</h2>
                </div>

                <!-- TEXT -->
                <p class="max-w-3xl font-jakarta-sans text-center ~text-sm/base text-ochre">{{ serviceInfo.text }}</p>
            </div>

            <!-- INFO + CTA -->
            <div class="flex flex-col items-center gap-8">
                <ul class="grid grid-cols-1 lg:grid-cols-3 ~gap-4/8 w-full">
                    {% for item in serviceInfo.items %}
                        <li class="relative sm:h-[24rem] max-sm:aspect-square w-full p-4 z-10 before:absolute before:top-0 before:left-0 before:h-full before:w-full before:bg-black/50 before:-z-10">
                            <!-- INNER CONTAINER -->
                            <div class="flex justify-center items-center h-full border-2 border-white">
                                <h3 class="text-center ~text-3xl/4xl text-white font-black">{{ item.title }}</h3>
                            </div>

                            <!-- BACKGROUND IMAGE -->
                            <picture>
                                <!-- MOBILE IMAGE -->
                                <source media="(max-width: 600px)" srcset="{% getUrl item.imageUrl | resize({ width: 768, height: 768 }) | avif %}" type="image/avif">
                                <source media="(max-width: 600px)" srcset="{% getUrl item.imageUrl | resize({ width: 768, height: 768 }) | webp %}" type="image/webp">
                                <source media="(max-width: 600px)" srcset="{% getUrl item.imageUrl | resize({ width: 768, height: 768 }) | jpeg %}" type="image/jpeg">
                                <!-- TABLET IMAGE -->
                                <source media="(max-width: 1024px)" srcset="{% getUrl item.imageUrl | resize({ width: 1524, height: 768 }) | avif %}" type="image/avif">
                                <source media="(max-width: 1024px)" srcset="{% getUrl item.imageUrl | resize({ width: 1524, height: 768 }) | webp %}" type="image/webp">
                                <source media="(max-width: 1024px)" srcset="{% getUrl item.imageUrl | resize({ width: 1524, height: 768 }) | jpeg %}" type="image/jpeg">
                                <!-- DESKTOP IMAGE -->
                                <source media="(min-width: 1024px)" srcset="{% getUrl item.imageUrl | resize({ width: 896, height: 768 }) | avif %}" type="image/avif">
                                <source media="(min-width: 1024px)" srcset="{% getUrl item.imageUrl | resize({ width: 896, height: 768 }) | webp %}" type="image/webp">
                                <source media="(min-width: 1024px)" srcset="{% getUrl item.imageUrl | resize({ width: 896, height: 768 }) | jpeg %}" type="image/jpeg">
                                <img
                                    class="object-cover absolute top-0 left-0 h-full w-full -z-20"
                                    src="{% getUrl item.imageUrl | resize({ width: 896, height: 768 }) | jpeg %}"
                                    alt="{{ item.imageAlt }}"
                                    width="448"
                                    height="384"
                                    loading="eager"
                                    decoding="async"
                                    aria-hidden="true"
                                    draggable="false">
                            </picture>
                        </li>
                    {% endfor %}
                </ul>

                <!-- CTA -->
                <a href="#cenik" class="btn btn-lg">{{ serviceInfo.cta }}</a>
            </div>
        </div>

        <!-- BACKGROUND -->
        <img
        class="object-cover absolute top-0 left-0 h-full w-full -z-10"
        src="/assets/svgs/tilling-background_black-gold.svg"
        alt="{{ services.backgroundAlt }}"
        width="1920"
        height="1044"
        loading="lazy"
        decoding="async"
        aria-hidden="true"
        draggable="false">
    </section>

    <!-- SPORT -->
    <section class="py-24 ~px-4/8">
        <div class="container m-auto flex max-lg:flex-col lg:flex-row-reverse lg:items-center ~gap-8/16">
            <!-- ROOM IMAGE -->
            <picture>
                <!-- MOBILE IMAGE -->
                <source media="(max-width: 600px)" srcset="{% getUrl sport.imageUrl | resize({ width: 736, height: 640, position: 'attention' }) | avif %}" type="image/avif">
                <source media="(max-width: 600px)" srcset="{% getUrl sport.imageUrl | resize({ width: 736, height: 640, position: 'attention' }) | webp %}" type="image/webp">
                <source media="(max-width: 600px)" srcset="{% getUrl sport.imageUrl | resize({ width: 736, height: 640, position: 'attention' }) | jpeg %}" type="image/jpeg">
                <!-- TABLET IMAGE -->
                <source media="(max-width: 1024px)" srcset="{% getUrl sport.imageUrl | resize({ width: 1350, height: 896, position: 'attention' }) | avif %}" type="image/avif">
                <source media="(max-width: 1024px)" srcset="{% getUrl sport.imageUrl | resize({ width: 1350, height: 896, position: 'attention' }) | webp %}" type="image/webp">
                <source media="(max-width: 1024px)" srcset="{% getUrl sport.imageUrl | resize({ width: 1350, height: 896, position: 'attention' }) | jpeg %}" type="image/jpeg">
                <!-- DESKTOP IMAGE -->
                <source media="(min-width: 1024px)" srcset="{% getUrl sport.imageUrl | resize({ width: 1600, height: 896, position: 'attention' }) | avif %}" type="image/avif">
                <source media="(min-width: 1024px)" srcset="{% getUrl sport.imageUrl | resize({ width: 1600, height: 896, position: 'attention' }) | webp %}" type="image/webp">
                <source media="(min-width: 1024px)" srcset="{% getUrl sport.imageUrl | resize({ width: 1600, height: 896, position: 'attention' }) | jpeg %}" type="image/jpeg">
                <img
                    class="object-cover h-[20rem] md:h-[28rem] w-full"
                    src="{% getUrl sport.imageUrl | resize({ width: 1600, height: 896 }) | jpeg %}"
                    alt="{{ sport.imageAlt }}"
                    width="448"
                    height="800"
                    loading="lazy"
                    decoding="async"
                    aria-hidden="true"
                    draggable="false">
            </picture>

            <!-- TEXT + SPECIFICATION -->
            <div class="flex flex-col items-center gap-8">
                <!-- HEADING + TEXT -->
                <div class="flex flex-col gap-5">
                    <!-- TOPPER + HEADING -->
                    <div class="flex flex-col items-center gap-4">
                        <!-- TOPPER -->
                        <span class="topper-container">
                            {% include "components/topper-decoration.njk" %}
                            <span class="topper">{{ sport.topper }}</span>
                            {% include "components/topper-decoration.njk" %}
                        </span>

                        <h2 class="~max-w-xs/sm text-center ~text-2xl/3xl font-black uppercase">{{ sport.heading | safe }}</h2>
                    </div>

                    <!-- TEXT -->
                    {% for paragraph in sport.paragraphs %}
                        <p class="max-w-xl font-jakarta-sans text-center ~text-sm/base text-ochre">{{ paragraph.text }}</p>
                    {% endfor %}
                </div>

                <!-- CTA -->
                <a href="{{ '/vylety-aktivity' | locale_url }}" class="btn">{{ sport.cta }}</a>
            </div>
        </div>
    </section>

    <!-- PRICING -->
    <section id="cenik" class="py-24 ~px-4/8 bg-white">
        <div class="container m-auto flex flex-col ~gap-8/16">
            <!-- TOPPER + HEADING -->
            <div class="flex flex-col items-center gap-4">
                <!-- TOPPER -->
                <span class="topper-container">
                    {% include "components/topper-decoration.njk" %}
                    <span class="topper">{{ pricing.topper }}</span>
                    {% include "components/topper-decoration.njk" %}
                </span>

                <h2 class="~max-w-sm/lg text-center ~text-3xl/5xl font-black uppercase">{{ pricing.heading | safe }}</h2>
            </div>

            <!-- PRICING CONTAINER -->
            <div class="~p-4/8 bg-cream">
                <!-- INNER CONTAINER -->
                <div class="flex flex-col gap-8 ~p-6/12 border-2 border-gold">

                    <!-- MASSAGES -->
                    <div class="flex max-lg:flex-col lg:flex-wrap justify-center gap-8">
                        {% for item in pricing.items %}
                            <div class="lg:basis-[calc(50%-1rem)] flex flex-col items-center gap-3">
                                <!-- TOPPER -->
                                <span class="topper-container">
                                    {% include "components/topper-decoration.njk" %}
                                    <span class="topper">{{ item.title }}</span>
                                    {% include "components/topper-decoration.njk" %}
                                </span>

                                <table class="table-auto text-left w-full">
                                    <thead>
                                        {% for row in item.rows %}
                                            {% if loop.index == 1 %}
                                                <tr>
                                                    {% for cell in row.cells %}
                                                        <th class="py-2 px-2.5 font-jakarta-sans text-sm text-ochre font-bold border border-ochre/20">{{ cell.text }}</th>
                                                    {% endfor %}
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </thead>
                                    <tbody>
                                        {% for row in item.rows %}
                                            {% if loop.index > 1 %}
                                                <tr>
                                                    {% for cell in row.cells %}
                                                        <td class="py-2 px-2.5 font-jakarta-sans text-sm text-ochre border border-ochre/20">{{ cell.text }}</td>
                                                    {% endfor %}
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include "sections/cta.njk" %}
{% endblock body %}