{% extends "layouts/base.njk" %}

{% block body %}
    {% include "sections/landing.njk" %}

    <!-- HISTORY -->
    <section class="py-24 ~px-4/8">
        <div class="container m-auto flex max-lg:flex-col lg:items-start ~gap-8/16">
            <!-- ROOM IMAGE -->
            <picture class="lg:sticky lg:top-24">
                <!-- MOBILE IMAGE -->
                <source media="(max-width: 600px)" srcset="{% getUrl contentOne.imageUrl | resize({ width: 736, height: 640, position: 'attention' }) | avif %}" type="image/avif">
                <source media="(max-width: 600px)" srcset="{% getUrl contentOne.imageUrl | resize({ width: 736, height: 640, position: 'attention' }) | webp %}" type="image/webp">
                <source media="(max-width: 600px)" srcset="{% getUrl contentOne.imageUrl | resize({ width: 736, height: 640, position: 'attention' }) | jpeg %}" type="image/jpeg">
                <!-- TABLET IMAGE -->
                <source media="(max-width: 1024px)" srcset="{% getUrl contentOne.imageUrl | resize({ width: 1350, height: 896, position: 'attention' }) | avif %}" type="image/avif">
                <source media="(max-width: 1024px)" srcset="{% getUrl contentOne.imageUrl | resize({ width: 1350, height: 896, position: 'attention' }) | webp %}" type="image/webp">
                <source media="(max-width: 1024px)" srcset="{% getUrl contentOne.imageUrl | resize({ width: 1350, height: 896, position: 'attention' }) | jpeg %}" type="image/jpeg">
                <!-- DESKTOP IMAGE -->
                <source media="(min-width: 1024px)" srcset="{% getUrl contentOne.imageUrl | resize({ width: 1600, height: 896, position: 'attention' }) | avif %}" type="image/avif">
                <source media="(min-width: 1024px)" srcset="{% getUrl contentOne.imageUrl | resize({ width: 1600, height: 896, position: 'attention' }) | webp %}" type="image/webp">
                <source media="(min-width: 1024px)" srcset="{% getUrl contentOne.imageUrl | resize({ width: 1600, height: 896, position: 'attention' }) | jpeg %}" type="image/jpeg">
                <img
                    class="object-cover h-[20rem] md:h-[28rem] w-full"
                    src="{% getUrl contentOne.imageUrl | resize({ width: 1600, height: 896, position: 'attention' }) | jpeg %}"
                    alt="{{ contentOne.imageAlt }}"
                    width="448"
                    height="800"
                    loading="lazy"
                    decoding="async"
                    aria-hidden="true"
                    draggable="false">
            </picture>

            <!-- TEXT + CTA -->
            <div class="self-center flex flex-col items-center gap-8">
                <!-- HEADING + TEXT -->
                <div class="flex flex-col gap-5">
                    <!-- TOPPER + HEADING -->
                    <div class="flex flex-col items-center gap-4">
                        <!-- TOPPER -->
                        <span class="topper-container">
                            {% include "components/topper-decoration.njk" %}
                            <span class="topper">{{ contentOne.topper }}</span>
                            {% include "components/topper-decoration.njk" %}
                        </span>

                        <h2 class="~max-w-sm/lg text-center ~text-2xl/3xl font-black uppercase">{{ contentOne.heading | safe }}</h2>
                    </div>

                    <!-- TEXT -->
                    {% for paragraph in contentOne.paragraphs %}
                        <p class="max-w-xl font-jakarta-sans text-center ~text-sm/base text-ochre">{{ paragraph.text }}</p>
                    {% endfor %}
                </div>

                <!-- CTA -->
                <a href="#book" class="btn" onclick="Booking.Open(); return false;">{{ contentOne.cta }}</a>
            </div>
        </div>
    </section>

    {% include "sections/cta.njk" %}
{% endblock body %}