# Use DecapBridge PKCE auth (required)
backend:
  name: git-gateway
  repo: coalmarketing/Chateau-Orlice
  branch: main
  auth_type: pkce
  base_url: https://auth.decapbridge.com
  auth_endpoint: /sites/cd2a3d65-2b68-4683-b640-9a73d52a3713/pkce
  auth_token_endpoint: /sites/cd2a3d65-2b68-4683-b640-9a73d52a3713/token
  gateway_url: https://gateway.decapbridge.com

  # See who did what (optional)
  commit_messages:
    create: Create {{collection}} “{{slug}}” - {{author-name}} <{{author-login}}> via DecapBridge
    update: Update {{collection}} “{{slug}}” - {{author-name}} <{{author-login}}> via DecapBridge
    delete: Delete {{collection}} “{{slug}}” - {{author-name}} <{{author-login}}> via DecapBridge
    uploadMedia: Upload “{{path}}” - {{author-name}} <{{author-login}}> via DecapBridge
    deleteMedia: Delete “{{path}}” - {{author-name}} <{{author-login}}> via DecapBridge
    openAuthoring: Message {{message}} - {{author-name}} <{{author-login}}> via DecapBridge

# Enable PKCE fields (optional, recommended)
auth:
  email_claim: email
  first_name_claim: first_name
  last_name_claim: last_name
  avatar_url_claim: avatar_url

# Add site links in Decap CMS (optional)
site_url: https://www.chateau-orlice.cz

local_backend: true

# Change url to a link to the image you want to use, no file paths, must be a URL
logo:
  src: "https://coalmarketing.cz/wp-content/uploads/2024/08/coalmarketing_logo_long_color-black-1024x239.png"
  show_in_header: false

locale: "cs"

# Where should uploaded files be saved
media_folder: "src/assets/cms"

# Where should media be served, relative to the base of the built site
public_folder: "/assets/cms"

# i18n settings
i18n:
  # multiple_folders - persists files in `<folder>/<locale>/<slug>.<extension>`
  structure: multiple_folders

  # Required - a list of locales to show in the editor UI
  locales: [cs, en, de, pl]

  # Optional, defaults to the first item in locales.
  # The locale to be used for fields validation and as a baseline for the entry.
  default_locale: cs

collections:
  # SPECIAL OFFERS CONFIG
  - label: "Akční nabídky"
    name: "specialOffers"
    folder: "src/content/cms/special-offers"
    create: true
    slug: "{{year}}-{{month}}-{{day}}_{{slug}}"
    i18n: true
    fields:
      - {
          label: "Název",
          name: "title",
          widget: "string",
          hint: "Vyplňte prosím všechny překlady pro všechny jazyky k funkčnímu zobrazení obsahu.",
          i18n: true,
        }
      - {
          label: "URL odkaz",
          name: "url",
          widget: "string",
          hint: "Určete, kam bude stránka zapsána. Pokud použijete „Akční nabídka“, bude příspěvek přístupný z „akcni-nabidky/akcni-nabidka“.",
          i18n: duplicate,
          pattern:
            [
              "^[A-Za-zÀ-ž0-9 ]+(?:-[A-Za-zÀ-ž0-9 ]+)*$",
              "Pouze písmena (A-Z, a-z), číslice a pomlčky (-). Žádná lomítka ani speciální znaky.",
            ],
        }
      - {
          label: "Datum",
          name: "date",
          widget: "datetime",
          default: "{{ now }}",
          i18n: duplicate,
        }
      - {
          label: "Štítky",
          name: "tags",
          widget: "hidden",
          default: ["specialOffer"],
          i18n: duplicate,
        }
      - {
          label: "Náhledový obrázek",
          name: "image",
          widget: "image",
          choose_url: false, # Only allow local images - for image optimization reasons
          i18n: duplicate,
        }
      - {
          label: "Popis obrázku",
          name: "imageAlt",
          widget: "string",
          hint: "Krátce popište, co je na obrázku - slouží k validnímu SEO. Vyplňte prosím všechny překlady pro všechny jazyky k funkčnímu zobrazení obsahu.",
          i18n: true,
        }
      - { label: "Obsah", name: "body", widget: "markdown", i18n: true }

  # STAY PACKAGES CONFIG
  - label: "Pobytové balíčky"
    name: "stayPackages"
    folder: "src/content/cms/stay-packages"
    create: true
    slug: "{{year}}-{{month}}-{{day}}_{{slug}}"
    i18n: true
    fields:
      - {
          label: "Název",
          name: "title",
          widget: "string",
          hint: "Vyplňte prosím všechny překlady pro všechny jazyky k funkčnímu zobrazení obsahu.",
          i18n: true,
        }
      - {
          label: "URL odkaz",
          name: "url",
          widget: "string",
          hint: "Určete, kam bude stránka zapsána. Pokud použijete „Pobytový balíček“, bude příspěvek přístupný z „pobytove-balicky/pobytovy-balicek“.",
          i18n: duplicate,
          pattern:
            [
              "^[A-Za-zÀ-ž0-9 ]+(?:-[A-Za-zÀ-ž0-9 ]+)*$",
              "Pouze písmena (A-Z, a-z), číslice a pomlčky (-). Žádná lomítka ani speciální znaky.",
            ],
        }
      - {
          label: "Datum",
          name: "date",
          widget: "datetime",
          default: "{{ now }}",
          i18n: duplicate,
        }
      - {
          label: "Štítky",
          name: "tags",
          widget: "hidden",
          default: ["stayPackage"],
          i18n: duplicate,
        }
      - {
          label: "Náhledový obrázek",
          name: "image",
          widget: "image",
          choose_url: false, # Only allow local images - for image optimization reasons
          i18n: duplicate,
        }
      - {
          label: "Popis obrázku",
          name: "imageAlt",
          widget: "string",
          hint: "Krátce popište, co je na obrázku - slouží k validnímu SEO. Vyplňte prosím všechny překlady pro všechny jazyky k funkčnímu zobrazení obsahu.",
          i18n: true,
        }
      - { label: "Obsah", name: "body", widget: "markdown", i18n: true }

  # TRIP RECOMMENDATION CONFIG
  - label: "Tipy na výlety"
    name: "tripRecommendations"
    folder: "src/content/cms/trip-recommendations"
    create: true
    slug: "{{year}}-{{month}}-{{day}}_{{slug}}"
    i18n: true
    fields:
      - {
          label: "Název",
          name: "title",
          widget: "string",
          hint: "Vyplňte prosím všechny překlady pro všechny jazyky k funkčnímu zobrazení obsahu.",
          i18n: true,
        }
      - {
          label: "URL odkaz",
          name: "url",
          widget: "string",
          hint: "Určete, kam bude stránka zapsána. Pokud použijete „Tip na výlet“, bude příspěvek přístupný z „vylety-aktivity/tip-na-vylet“.",
          i18n: duplicate,
          pattern:
            [
              "^[A-Za-zÀ-ž0-9 ]+(?:-[A-Za-zÀ-ž0-9 ]+)*$",
              "Pouze písmena (A-Z, a-z), číslice a pomlčky (-). Žádná lomítka ani speciální znaky.",
            ],
        }
      - {
          label: "Štítky",
          name: "tags",
          widget: "hidden",
          default: ["tripRecommendation"],
          i18n: duplicate,
        }
      - {
          label: "Náhledový obrázek",
          name: "image",
          widget: "image",
          choose_url: false, # Only allow local images - for image optimization reasons
          i18n: duplicate,
        }
      - {
          label: "Popis obrázku",
          name: "imageAlt",
          widget: "string",
          hint: "Krátce popište, co je na obrázku - slouží k validnímu SEO. Vyplňte prosím všechny překlady pro všechny jazyky k funkčnímu zobrazení obsahu.",
          i18n: true,
        }
      - { label: "Obsah", name: "body", widget: "markdown", i18n: true }

  # NEWS CONFIG
  - label: "Aktuality"
    name: "news"
    folder: "src/content/cms/news"
    create: true
    slug: "{{year}}-{{month}}-{{day}}_{{slug}}"
    i18n: true
    fields:
      - {
          label: "Název",
          name: "title",
          widget: "string",
          hint: "Vyplňte prosím všechny překlady pro všechny jazyky k funkčnímu zobrazení obsahu.",
          i18n: true,
        }
      - {
          label: "URL odkaz",
          name: "url",
          widget: "string",
          hint: "Určete, kam bude stránka zapsána. Pokud použijete „Aktualita“, bude příspěvek přístupný z „aktuality/aktualita“.",
          i18n: duplicate,
          pattern:
            [
              "^[A-Za-zÀ-ž0-9 ]+(?:-[A-Za-zÀ-ž0-9 ]+)*$",
              "Pouze písmena (A-Z, a-z), číslice a pomlčky (-). Žádná lomítka ani speciální znaky.",
            ],
        }
      - {
          label: "Datum",
          name: "date",
          widget: "datetime",
          default: "{{ now }}",
          i18n: duplicate,
        }
      - { label: "Štítky", name: "tags", widget: "hidden", default: ["news"] }
      - {
          label: "Náhledový obrázek",
          name: "image",
          widget: "image",
          choose_url: false, # Only allow local images - for image optimization reasons
          i18n: duplicate,
        }
      - {
          label: "Popis obrázku",
          name: "imageAlt",
          widget: "string",
          hint: "Krátce popište, co je na obrázku - slouží k validnímu SEO. Vyplňte prosím všechny překlady pro všechny jazyky k funkčnímu zobrazení obsahu.",
          i18n: true,
        }
      - { label: "Obsah", name: "body", widget: "markdown", i18n: true }

  # GALLERY ALBUMS
  - label: "Alba galerie"
    name: "galleryAlbums"
    folder: "src/content/cms/gallery-albums"
    editor:
      preview: false
    create: true
    slug: "{{year}}-{{month}}-{{day}}_{{slug}}"
    i18n: true
    fields:
      - {
          label: "Název alba",
          name: "title",
          widget: "string",
          hint: "Zadejte název alba, tento název se zobrazí na webu na podstránce 'Fotogalerie'. Vyplňte prosím všechny překlady pro všechny jazyky k funkčnímu zobrazení obsahu.",
          i18n: true,
        }

      - {
          label: "Štítky",
          name: "tags",
          widget: "hidden",
          default: ["galleryAlbum"],
        }

  # GALLERY PHOTOS
  - label: "Fotky galerie"
    name: "galleryPhotos"
    folder: "src/content/cms/gallery-photos"
    editor:
      preview: false
    create: true
    identifier_field: "album"
    slug: "{{year}}-{{month}}-{{day}}_{{slug}}"
    fields:
      - label: "Album"
        name: "album"
        widget: "relation"
        collection: "galleryAlbums"
        search_fields: ["title"]
        value_field: "title"
        display_fields: ["title"]

      - name: images
        label: Fotografie
        widget: list
        fields:
          - { name: url, label: Fotografie, widget: image }
          - {
              label: "Štítky",
              name: "tags",
              widget: "hidden",
              default: ["galleryPhoto"],
            }

  # JOB POSTS
  - label: "Volné pracovní pozice"
    name: "jobPosts"
    folder: "src/content/cms/job-posts"
    create: true
    slug: "{{year}}-{{month}}-{{day}}_{{slug}}"
    fields:
      - { label: "Název pracovní pozice", name: "title", widget: "string" }
      - {
          label: "URL odkaz",
          name: "url",
          widget: "string",
          hint: "Určete, kam bude stránka zapsána. Pokud použijete „Pracovní pozice“, bude příspěvek přístupný z „kariera/pracovni-pozice“.",
          pattern:
            [
              "^[A-Za-zÀ-ž0-9 ]+(?:-[A-Za-zÀ-ž0-9 ]+)*$",
              "Pouze písmena (A-Z, a-z), číslice a pomlčky (-). Žádná lomítka ani speciální znaky.",
            ],
        }
      - { label: "Typ úvazku", name: "type", widget: "string" }
      - { label: "Místo výkonu práce", name: "location", widget: "string" }
      - { label: "Odměna", name: "salary", widget: "string" }
      - {
          label: "Štítky",
          name: "tags",
          widget: "hidden",
          default: ["jobPost"],
          i18n: duplicate,
        }
      - {
          label: "Náhledový obrázek",
          name: "image",
          widget: "image",
          choose_url: false, # Only allow local images - for image optimization reasons
        }
      - {
          label: "Popis obrázku",
          name: "imageAlt",
          widget: "string",
          hint: "Krátce popište, co je na obrázku - slouží k validnímu SEO.",
        }
      - { label: "Obsah", name: "body", widget: "markdown" }

  # DOCUMENTS
  - name: "documents"
    label: "Dokumenty"
    label_singular: "Dokument"
    folder: "src/content/cms/documents"
    create: false
    delete: false
    slug: "{{year}}-{{month}}-{{day}}_{{slug}}"
    editor:
      preview: false
    fields:
      - { name: "id", widget: "hidden" }
      - { label: "Název", name: "title", widget: "string" }
      - {
          label: "Soubor",
          name: "file",
          widget: "file",
          choose_url: false,
          hint: "Je zapotřebí zachovat stejný název jako původní soubor!",
        }

  # WEBSITE IMAGES
  #- name: "images"
  #  label: "Obrázky webu"
  #  label_singular: "Obrázek webu"
  #  folder: "src/content/cms/images"
  #  create: true
  #  delete: false
  #  slug: "{{year}}-{{month}}-{{day}}_{{slug}}"
  #  editor:
  #    preview: false
#
#  view_groups:
#    - label: "Název podstránky"
#      field: "description"
#
#  fields:
#    - {
#        label: "Popis",
#        name: "title",
#        widget: "string",
#        hint: "Popis, o který obrázek se jedná.",
#      }
#    - {
#        label: "Název podstránky",
#        name: "description",
#        widget: "string",
#        hint: "Podstránka, na které se obrázek nachází.",
#      }
#    - { label: "Identifikátor", name: "key", widget: "string" }
#    - { label: "Obrázek", name: "url", widget: "image", choose_url: false }
#    - {
#        label: "Popis obrázku",
#        name: "alt",
#        widget: "string",
#        hint: "Popište, co je na obrázku. Slouží k validnímu SEO příspěvku.",
#      }
#
#    - {
#        label: "Štítky",
#        name: "tags",
#        widget: "hidden",
#        default: ["image"],
#        i18n: "duplicate",
#      }
